/* Phones/tablets up to 767px  */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 180%;
  }

  h2,
  h3 {
    font-size: 120%;
  }

  section {
  }

  footer {
    font-size: 95%;
  }

  .column-landing-portrait {
    margin-bottom: 2vh;
  }

  .column-landing-bio {
    width: 100vw;
    margin: 0;
  }
  .landing-page-scale {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .portrait-image img {
    height: 25vh;
    padding: 0;
  }

  .portrait-buttons {
    margin-top: 3vh;
  }

  .portrait-buttons a {
    opacity: 0.6;
    padding: 0.3em 1.3em 0.3em 1.3em;
    margin: 0 1vw 0 1vw;
    border-radius: 0.5em;
  }
}

@media only screen and (min-width: 1800px) {
  .aboutme {
    width: 80vw;
    margin-left: 10vw;
  }

  p {
    font-size: 22px;
  }

  .quick-bio,
  .list {
    font-size: 20px;
  }

  .quick-bio p {
    font-size: 120%;
  }

  .quick-bio p:first-of-type {
    font-size: 120%;
  }

  .photo-casual {
    height: max(20vh, 250px);
    width: max(20vh, 250px);
  }

  .skills-grid {
    width: 80vw;
    margin-left: 10vw;
  }
}
