/* Large tablets/small PCs up to 1200px  */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    
}

/* Tablets/portrait modes up to 1023px  */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; overflow: hidden;}
    
    section { padding: 60px; }
    
    .main-nav { font-size: 95%}
    
    .hero-text-box { margin-left: 1em; }
    
    .long-copy {
    width: 80%;
    margin-left: 10%;
    }
    
    .works-step { margin-bottom: 40px; margin-right: -5% }
    .works-step p{ margin-left: 27%}
    .steps-box:last-child { margin-top: 10px; }
    .app-screen { width: 55%}
    .app-btns { margin-top: 70px;}
    .btn-app img { height: 2.1em; width: auto;}
    .icon-small { width: 16px; margin-right: 5px;}
    .city-feature {font-size: 90%; margin-right: -10px;}
    .section-cities { 
        padding: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .section-cities .row { padding: 0; }
    
    h3{ font-size: 94%;}
    
    .plan-price { font-size: 230%}
    .plan-box { 
        width: 100%;
        margin-left: 0%;
    }
    .btn {font-size: 88%;}
    .sign-up-perks2 { height: 11em;}
    .sign-up-perks1 { height: 8em;}
    
    .contact-form { width: 80%;}
}

/* Phones/tablets up to 767px  */
@media only screen and (max-width: 767px) {
    body { font-size: 16px;}
    section { padding: 30px 0}
    footer {font-size: 95%;}
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%; 
    }
    .section-features .col,
    .section-testimonials .col,
    .section-plans .col {margin-left: 0;}
    
    .main-nav { display: none; }
    
    .mobile-nav-icon { display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 20px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%
    }
    
    .sticky .main-nav { margin-top: 10px; } 
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 10px 0; }
    .sticky .mobile-nav-icon {margin-top: 10px;}
    .sticky .mobile-nav-icon i {color: #555;}
    
 
    
    .long-copy {
        width: 100%; 
        margin-left: 0%;
    }
    h1 { font-size: 180%;}
    h2 { 
        font-size: 140%;
        margin-bottom: 30px;
    }
    
    h2:after {
        height: 1px;
        margin-top: 15px;
    }
    
    .section-cities img {width: 80%; margin-left: 10%;}
    .section-cities .city-feature{ margin-left: 2.6em; }
    .section-cities h3 {margin-left: 2.6em;}
    .app-btns { padding-top: 1em; }
    .app-screen { width: 37% }
    .works-step { margin-bottom: 25px; margin-right: -5% }
    .works-step div {
        border: 1px solid #e67e22;
        height: 35px;
        width: 35px;
        padding: 3.2px;
        font-size: 130%;
        margin-right: 15px;
    }
    .works-step p { 
        margin-left: 0;
        margin-right: 2.5em;
    }
    .steps-box:first-child {
        text-align: center;
        padding: 0 0;
        margin-top: 1em;
    }
    .steps-box:last-child { margin-top: 2em; }
    .app-btns { 
        margin-top: -1em; 
        text-align: center;
        margin-left: -1em;
    }
    .section-form .row .row:last-of-type .col:first-of-type { height: 0; }
    .section-form .row .row:last-of-type .col:last-of-type { text-align: center;}
    .footer-nav {
        width: 90%;
        margin: 0 5%;
        text-align: center;
    }
    .social-links {
        width: 80%;
        text-align: center;
        margin: 0 10%;
    }
}

/* Small phones up to 480px  */
@media only screen and (max-width: 480px) {
    
    h1 { 
        font-size: 150%;
        word-spacing: 1px;
        letter-spacing: 0px;
        padding-left: 5%;
    }
    h2 { font-size: 140%;}
    .contact-form { width: 100%;}
    .section-form .row .col { margin-top: 0.3em;}
    
    .works-step p { 
        margin-left: 3.2em;
        margin-right: 2.5em;
    }
    .section-plans .col {margin-top: 1em;}
    
    footer {
        font-size: 80%;
        padding: 2em 1em;

    }   
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    .plan-price span {
    font-size: 50%;
    font-weight: 300;
    }
    .plan-price { font-size: 270%}
    .hero-text-box {
        width: 90%;
        margin-left: 0%;
        padding: 2em;
    }
    .hero-text-box .btn { 
        width: 14em; 
        margin-bottom: 1em; 
        margin-left: 15%;
        text-align: center;
    }
    .footer-nav {
        width: 100%;
        margin: 0 0;
        text-align: center;
    }
    .social-links {
        width: 80%;
        text-align: center;
        margin: 0 10%;
        margin-top: 3%;
    }

