* {
    scroll-behavior: smooth;
}

Html,
body {
    background-color: #fff;
    color: #6f6f6f;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 220%;
}

h1 {}

h2 {
    font-size: 100%;
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h2:after {
    display: block;
    margin-top: 0.5em;
    height: 2px;
    width: 80%;
    content: "";
    background-color: #546E7A;
}

.nav-container {
    /* display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin: 0.5em; */
}

.nav-item {
    /* display: flex;
    margin: 0.2em;
    flex-direction: row;
    color: blue; */
}


.landing-page,
.row-landing-page,
.portrait-description,
.column-landing-portrait,
.portrait-buttons,
.portrait-image,
.skills-page,
.skills-page-scale,
.skills-svg,
.projects,
.landing-page-scale,
.landing-page div,
.landing-page img {
    display: flex;
}

.landing-page-scale {
    width: auto;
    text-shadow: 0.1px 0.1px #000000;
}

.landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/resources/images/city-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: scroll;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.column-landing-bio {
    margin: 0 2vw 0 2vw;
}

.portrait-description {
    flex-direction: column;
}

.row-landing-page {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.landing-page img {
    height: 10em;
    border-radius: 50%;
    padding-left: 2vw;

}

.portrait-image {
    align-items: center;
}

.portrait-buttons {
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
}

.portrait-buttons a {
    text-decoration: none;
    background-color: #546E7A;
    opacity: 0.6;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0 1vw 0 1vw;
    border-radius: 0.5em;

}

.landing-buttons:link,
.landing-buttons:visited {
    border: 1px solid #90A4AE;
    color: rgb(255, 255, 255);

}

.landing-buttons:hover,
.landing-buttons:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #455A64;
    text-shadow: 5px, 5px, rgb(150, 75, 75);
}


.skills-svg {
    background-color: rgb(255, 255, 255);

}

.skills-page-scale {
    flex-direction: column;
}

#logo {

    display: flex;
    justify-content: center;
    margin: 3em 0 1em 0;
    animation: fill 0.5s ease forwards 1.5s;
    height: 5em;
    width: 100vw;
}

#logo path:nth-child(1) {
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: line-anim 1.2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 538px;
    stroke-dashoffset: 538px;
    animation: line-anim 1.4s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 235px;
    stroke-dashoffset: 235px;
    animation: line-anim 1.6s ease forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 324px;
    stroke-dashoffset: 324px;
    animation: line-anim 1.6s ease forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 324px;
    stroke-dashoffset: 324px;
    animation: line-anim 1.6s ease forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: line-anim 2.6s ease forwards;
}

.skills-table {
    display: flex;
    flex-direction: column;
    margin: 2% 0 5% 0;
}

.skills-table-row {
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 20%;
    justify-content: center;
}

.skills-table-row-column {
    margin: 0 5% 0 5%;
}

.skills-table-row-column p.table-headers {
    font-size: 250%;
}

.skills-table-row-column-row1,
.skills-table-row-column-row2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-table-row-column-row1 {
    padding: 0 15% 0 15%;
    border-bottom: 1px solid #455A64;
}

.projects {
    flex-direction: column;
    margin: 2% 0 5% 0;
}

.project1-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project1-row-column1,
.project1-row-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-logo {
    margin-bottom: 2%;
}

.project-picture img {
    opacity: 0.8;
    width: 20vw;
    transform: scale(1.00);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.project-picture img:hover {
    opacity: 1;
    transform: scale(1.50);
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: red;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
}

ion-icon {
    font-size: 1.5em;
}

footer > div.footerEmail, footer > div.footerLinks {
    flex: 0 1 50%;
    justify-content: center;
}

footer > div.footerEmail {
    justify-content: endz;
}

ul.footerLinkUl li {
    list-style-type: none;
    margin: 0;
    padding: 2em 1em 2em 1em;
}

ul li{
    display: inline;
}

ul p {
    display: flex;
    flex-direction: row;
}


ul a:link, a:visited {
    text-decoration: none;
    color: #546E7A;
  }
  
ul a:hover, a:active {
    color: darkorange;
}

ul {
    overflow: hidden;
}

