/*  */
Html,
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  color: #646464;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

.navigation-visible {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  height: 15px;
  width: 100%;
  margin-left: 25vw;
  padding: 0;
  background-color: #009688;
  list-style-type: none;
  margin: 0;
  z-index: 15;
  transition: ease-in-out 0.1s;
}

.navigation-visible li {
  display: none;
  height: 0;
}

.navigation-visible:hover {
  height: 5vh;
  padding: 2vh 0 0 0;
  transition: ease-in 0.1s;
  box-shadow: 2px 3px 15px -8px rgba(0, 0, 0, 0.89);
}

.nav-item a,
.nav-item a:active,
.nav-item a:visited {
  text-decoration: none;
  color: white;
}

.nav-item a:after {
  content: "";
  width: 0;
  height: 1px;
  right: 25%;
  left: 25%;
  transition: all 0.1s ease;
  display: block;
  margin-top: 4px;
  background-color: white;
}

.nav-item a:hover::after {
  width: 100%;
  left: 0;
  right: 0;
  transition: width 0.1s ease;
}

.navigation-visible:hover li {
  width: 10%;
  text-align: center;
  display: inline-block;
  color: #fff;
}

.navigation-hidden,
.navigation-hidden li {
  position: fixed;
  z-index: 15;
  visibility: hidden;
  transition: ease-in-out 0.1s;
}

h1,
h2 {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 220%;
  text-align: center;
}

.portrait-text h1 {
  margin-bottom: 0.3em;
}

.portrait-text h1:after {
  content: "";
  width: 5%;
  height: 3px;
  right: 25%;
  left: 25%;
  transition: all 0.2s ease;
  display: block;
  margin-top: 2px;
  background-color: #4fa8a4;
}

.portrait-text h1:hover::after {
  width: 100%;
  left: 0;
  right: 0;
  transition: width 0.2s ease;
}

h2 {
  font-size: 100%;
}

h3 {
  font-size: 150%;
}

.landing-page,
.row-landing-page,
.portrait-description,
.column-landing-portrait,
.portrait-buttons,
.portrait-image,
.projects,
.landing-page-scale,
.landing-page div,
.landing-page img {
  display: flex;
}

.landing-page-scale {
  width: auto;
  margin-left: 10vw;
  text-shadow: 0.1px 0.1px #929292;
}

.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/resources/images/city-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: scroll;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.column-landing-bio {
  margin-left: min(15px, 3vw);
  width: 45vw;
}

.portrait-description {
  flex-direction: column;
  align-items: center;
}

.portrait-text-bio {
  width: 80%;
  word-break: break-word;
  text-align: center;
}

.row-landing-page {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.landing-page img {
  height: 10em;

  border-radius: 35%;
}

.portrait-image {
  align-items: center;
}

.portrait-buttons {
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}

.portrait-buttons a {
  text-decoration: none;
  font-weight: 400;
  background-color: #546e7a;
  opacity: 0.6;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0 1vw 0 1vw;
  border-radius: 0.5em;
}

.landing-buttons:link,
.landing-buttons:visited {
  border: 1px solid #90a4ae;
  color: thistle;
}

.landing-buttons:hover,
.landing-buttons:active {
  background-color: #455a64;
  text-shadow: 5px, 5px, rgb(150, 75, 75);
  color: thistle;
}

.list.half ul {
  margin: 0;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 0;
  width: 45%;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list.half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list ul {
  margin: 0;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list li p {
  margin: 0;
  margin-right: 5%;
  margin-bottom: 1.2em;
}

.list li:last-of-type p {
  margin-bottom: 0;
}

.aboutme-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr) minmax(150px, 0.85fr) 0.2fr 0.3fr 0.2fr repeat(
      3,
      1fr
    );
  grid-template-rows: repeat(3, 1fr) 0.6fr 0.2fr minmax(150px, 0.7fr) repeat(
      2,
      1fr
    );
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: fit-content;
  max-height: 100vh;
  width: min(100vw, 1920px);
  margin-bottom: 14vh;
}

.round-explosion {
  grid-area: 5 / 5 / 6 / 6;
  background-color: #ffc107;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 5px f5f5f5;
  transition: box-shadow 0.1s linear;
}

.round-explosion:hover {
  box-shadow: 0px 0px 0px 35px #f5f5f5, 0px 0px 2px 37px #ffc107;
  transition: box-shadow 0.15s ease-in-out;
}

.main-about,
.random,
.photo-casual,
.current-occupation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 3px 15px -8px rgba(0, 0, 0, 0.89);
  border-radius: 2px;
  height: fit-content;
}

.current-occupation {
  grid-area: 2 / 7 / 4 / 9;
  background-color: #9e9e9e;
}

.hover:hover {
  transition: all 0.2s ease;
  text-shadow: 2px 2px 2px red;
}

.random {
  grid-area: 6 / 7 / 9 / 9;

  background-color: #7d7d7d;
}
.main-about {
  grid-area: 2 / 2 / 9 / 4;
  height: fit-content;
  background-color: #919191;
  margin-left: -20px;
  padding-bottom: min(15px, 2vh);
}

.quick-bio,
.list {
  padding: 0 5% 0 5%;
  color: white;
  font-size: 120%;
}

.quick-bio p {
  font-size: 100%;
}

.quick-bio p:first-of-type {
  width: 49%;
  height: fit-content;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 100%;
}

.photo-casual {
  grid-area: 3 / 3 / 6 / 5;
  height: min(30vh, 13em);
  width: min(30vh, 13em);
  background-color: #bdbdbd;
  margin: 0 15px 0 0;
  border: 3px ridge #646464;
  background-image: url(/resources/images/profilepic.png);
  background-size: cover;
  background-position: center;
}

.skills-page-scale {
  flex-direction: column;
}

.section-h1 {
  font-size: 300%;
  font-weight: 400;
  text-shadow: 0.5px 0.5px #000000;
}

.skills-grid {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: minmax(25px, 0.6fr) repeat(4, minmax(50px, 1fr)) minmax(
      25px,
      0.6fr
    );
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr repeat(2, 1fr) 0.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.programming h3,
.tools h3,
.skills h3,
.div4 h3,
.current-occupation h3,
.random h3,
.main-about h3 {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 2px 6px rgba(150, 150, 150, 0.65);
}

.float-in {
  visibility: hidden;
}

.come-in {
  visibility: visible;
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.come-in-slow {
  visibility: visible;
  transform: translateY(200px);
  animation: come-in 2s ease forwards;
}

@keyframes come-in-slow {
  to {
    transform: translateY(0);
  }
}

.border-b {
  width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid #4fa8a4;
  z-index: 500;
}

.programming {
  grid-area: 1 / 2 / 4 / 4;
  width: 100%;
  height: 100%;
  background-color: #7d7d7d;
}

.programming,
.tools,
.skills,
.div4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 3px 15px -8px rgba(0, 0, 0, 0.89);
  border-radius: 2px;
}

.skills {
  grid-area: 2 / 4 / 5 / 6;
  width: 100%;
  height: 100%;
  background-color: #9e9e9e;
}

.tools {
  position: relative;
  grid-area: 4 / 2 / 7 / 4;
  width: 100%;
  height: 100%;
  background-color: #bdbdbd;
}

.div4 {
  grid-area: 5 / 4 / 8 / 6;
  width: 100%;
  height: 100%;
  background-color: #919191;
  visibility: hidden;
}

.projects {
  flex-direction: column;
  margin: 2% 0 5% 0;
}

.project1-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project1-row-column1,
.project1-row-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-logo {
  margin-bottom: 2%;
}

.project-picture img {
  opacity: 0.8;
  width: 20vw;
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  box-shadow: 2px 3px 15px -8px rgba(0, 0, 0, 0.89);
}

.project-picture img:hover {
  opacity: 1;
  transform: scale(1.5);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

ion-icon {
  font-size: 1.5em;
}

footer > div.footerEmail,
footer > div.footerLinks {
  flex: 0 0 50%;
  justify-content: center;
}

ul.footerLinkUl li {
  list-style-type: none;
  margin: 0;
  padding: 2em 0.3em 2em 1em;
}

.footerEmail > ul {
  float: right;
}

footer ul li {
  display: inline;
}

footer ul p {
  display: inline;
  flex-direction: row;
}

footer ul a:link,
a:visited {
  text-decoration: none;
  color: #546e7a;
}

footer ul a:hover,
a:active {
  color: darkorange;
}

footer ul {
  overflow: hidden;
}
